@media (min-width: 1925px) {

  .slider_section {
    max-width: 70%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section .img-box {
    max-width: 80%;
    max-height: 100%;
  }
}

@media (max-width: 1120px) {

  .quote_btn-container a {
    display: none;
  }
}
@media (max-width: 992px) {

  .about_section .read-btn {
    padding-bottom: 20px;
  }

  .slider_section .slider-container {
    flex-direction: column;
    padding: 0;
  }

  .slider_section .detail-box {
    width: 100%;
    text-align: center;
    padding: 75px 15px;
    background: linear-gradient(135deg, #790e0e, #d53c41);
    position: relative;
  }

  .slider_section .img-box {
    margin: 0;
    width: 100%;
  }

  .slider_section .slider_bg-container {
    display: none;
  }

  .slider_section .detail-box p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    top: initial;
    bottom: 0;
    left: 44.6%;
  }

  .slider_section .carousel-control-prev {
    transform: translate(0, 50%);
  }

  .slider_section .carousel-control-next {
    transform: translate(115%, 50%);
  }

  .games_section .games_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .games_section .box {
    margin: 25px;
  }

  .games_section .box .name h6 {
    color: #ffffff;
  }

  .games_section::before {
    height: 100%;
  }

  .discord_widget::before {
    height: 70%;
  }
  .discord_widget iframe::before {
    width: 500px;
    height: 300px;
  }

  .specs_section .specs_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .specs_section .box {
    margin: 25px;
  }

  .specs_section .box .name h6 {
    color: #ffffff;
  }

  .specs_section::before {
    height: 100%;
  }

  .about_section {
    padding-top: 75px;
  }

  .socials_section {
    flex-wrap: wrap;
    justify-content: center;
  }

  .socials_section .socials_icon {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .client_section .client_container {
    width: 100%;
  }

  .client_section .client_container .box {
    margin: 20px 15px;
  }
}

@media (max-width: 576px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {

    left: 41.6%;
  }

  .custom_heading-container hr {
    display: none;
  }
}

@media (max-width: 480px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 39%;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 36%;
  }
}

@media (max-width: 360px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 36%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
  }

  .video_section {
    columns: md -6px;
  }
}