html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background: rgb(13, 13, 13);
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_heading-container h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.custom_heading-container h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.custom_heading-container hr {
  width: 250px;
  border: none;
  height: 1.5px;
  background-color: #790e0e;
  margin: 0 5px 0.5rem 5px;
  transition: 0.5s;
}

/* navbar toggle thing*/
.header_section .container-fluid p {
  color: rgb(255, 255, 255);
}

.navigation {
  display: flex;
  justify-content: center;
}

ul .navbar-nav .nav-link a {
  margin: 10px 30px;
  position: relative;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

ul .navbar-nav .nav-link a:before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 3px;
  background: rgb(226, 226, 226);
  transform: translateX(-100%);
  opacity: 0;
}

ul .navbar-nav .nav-link a:hover {
  opacity: 1;
  transition: 0.5s transform ease, 0.8s opacity ease;
  transform: translateX(0);
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #760d0d;
  transition: 0.3s;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link.active:hover {
  color: #ffffff;
  transition: 0.3s;
}

ul .active:hover:before {
  opacity: 0;
}
/*end nvabar thing*/

/*header section*/
.hero_area {
  position: sticky;
  top: 0;
  z-index: 9;
}

.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  background-color: #191919;
  padding: 10px 0px 10px 0px;
  transition: 0.4s;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 10px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 10px;
  color: #dbdada;
  text-align: left;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

ul .active {
  color: aqua;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/
/* slider section */
.slider_section .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
}

.slider_section .detail-box {
  width: 45%;
  z-index: 4;
  color: #ffffff;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.slider_section .detail-box p {
  width: 75%;
  margin-top: 15px;
}

.slider_section .detail-box .slider-link {
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  border-radius: 15px;
  margin-top: 35px;
  transition: 0.2s;
}

.slider_section .detail-box .slider-link:hover {
  background-color: #ffffff;
  color: black;
  transition: 0.4s;
  border-radius: 20px;
}

.slider_section .img-box {
  width: 73%;
  margin-left: -17%;
  position: relative;
  z-index: 2;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .slider_bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #790e0e, #d53c41);
  z-index: 3;
  -webkit-clip-path: polygon(0 0, 60% 0, 37% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 37% 100%, 0% 100%);
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  left: 47.6%;
  width: 50px;
  height: 50px;
  z-index: 9;
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  border-radius: 100%;
}

.slider_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #ffffff;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slider_section .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #02aefe;
  top: calc(50% - 30px);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/*about section stuff css wee*/

.about_section {
  font-family: "Poppins", sans-serif;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section a {
  display: inline-block;
  padding: 8px 25px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 15px;
  margin-top: 45px;
  transition: 0.3s;
}

.about_section a:hover {
  background-color: transparent;
  color: #ffffff;
  transition: 0.3s;
}

.about_section p {
  margin-top: 45px;
}

.about_section .img-box img {
  width: 100%;
}

.about_section h6 {
  text-transform: uppercase;
  color: #bdbbbb;
  font-weight: bold;
  margin: 0;
}

/* end about section stuff css wee*/

/*cat section thingy woo*/

.cats_section {
  font-family: "Poppins", sans-serif;
}

.cats_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cats_section a {
  display: inline-block;
  padding: 8px 25px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 15px;
  margin-top: 45px;
  transition: 0.3s;
}

.cats_section a:hover {
  background-color: transparent;
  color: #ffffff;
  transition: 0.3s;
}

.cats_section p {
  margin-top: 45px;
}

.cats_section .img-box {
width: 100%;
}

.cats_section .img-box img {
  width: 100%;
}

.cats_section h6 {
  text-transform: uppercase;
  color: #bdbbbb;
  font-weight: bold;
  margin: 0;
}

.cats_hr hr {
  color: #790e0e;
  background-color: #790e0e;
  width: 100%;
  border: none;
  height: 2px;
}

.cats_hr {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  background-image: url(../images/ree-dark-bg.png);
}

/* end cats thingy woo*/

/*discord widget thingy*/

.discord_widget {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.discord_widget .read-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discord_widget .read-btn a {
  font-size: 20px;
  display: inline-block;
  padding: 8px 25px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 15px;
  transition: 0.3s;
}

.discord_widget .read-btn a:hover {
  background-color: transparent;
  color: #ffffff;
  transition: 0.3s;
}

.discord_widget::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  background-image: url(../images/ree-dark-bg.png);
  z-index: -1;
}

#discord {
  scroll-margin-top: 80px;
}

/*end discord widget thingy*/

.games_section {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.games_section h2,
.games_section p {
  color: white;
}

.games_section hr {
  background-color: #790e0e;
}

.games_section .games_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games_section .box {
  width: 175px;
  text-align: center;
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
}

.games_section .box .img-2 {
  display: none;
  transition: 0.2s;
}

.games_section .box .img-box {
  width: 175px;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.games_section .box .name {
  margin-top: 15px;
}

.games_section .box .name h6 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.games_section .box:hover .img-1 {
  display: none;
}

.games_section .box:hover .img-2 {
  display: inline-block;
}

.games_section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  background-image: url(../images/ree-dark-bg.png);
  z-index: -1;
}

.games_section .read-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.games_section .read-btn a {
  display: inline-block;
  padding: 8px 25px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 15px;
  transition: 0.3s;
}

.games_section .read-btn a:hover {
  background-color: transparent;
  color: #ffffff;
  transition: 0.3s;
}

.video_section {
  font-family: "Poppins", sans-serif;
}

.video_section .col-md-4 {
  padding: 0;
}

.video_section .img-box {
  position: relative;
  margin: 10px;
}

.video_section .img-box img {
  width: 100%;
}

.video_section .img-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.more_section h2,
.more_section p,
.more_section a {
  font-family: "Poppins", sans-serif;
}

.more_section .box {
  margin-top: 45px;
}

.more_section .box img {
  width: 100%;
}

.more_section .box .action-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
}

.more_section .box .detail-box h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.more_section .box .detail-box p {
  margin-top: 15px;
}

.more_section .box .detail-box a {
  display: inline-block;
  font-weight: bold;
  margin-top: 45px;
}

.more_section .box .detail-box a:hover {
  color: white;
}

.socials_section {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #191919;
  color: #ffffff;
}

.socials_section .socials_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 20px auto;
}

.socials_section .socials_icon img {
  width: 40px;
  margin-left: 8px;
}

.socials_section p {
  margin: 35px 0 0 0;
}

/* specs section*/

.specs_section {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.specs_section h2,
.specs_section p {
  color: white;
}

.specs_section hr {
  background-color: #790e0e;
}

.specs_section .specs_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specs_section .box {
  width: 175px;
  text-align: center;
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
}

.specs_section .box .img {
  size: re;
}

.specs_section .box .img-box {
  width: 175px;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.specs_section .box .name {
  margin-top: 15px;
}

.specs_section .box .name h6 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.specs_section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  background-image: url(../images/ree-dark-bg.png);
  z-index: -1;
}

.specs_section .read-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specs_section .read-btn a {
  display: inline-block;
  padding: 8px 25px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 15px;
  transition: 0.3s;
}

.specs_section .read-btn a:hover {
  background-color: transparent;
  color: #ffffff;
  transition: 0.3s;
}

/* end specs section*/

.button_thingy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    font-family: "Poppins", sans-serif;
}

.button_thingy .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button_thingy .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_thingy .img-box {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #ffffff;
  justify-content: center;
}

.button_thingy .img-box img {
  padding-top: 15.5px;
  padding-left: 19.5px;
}

/* footer section*/
.footer_section {
  background-color: #242424;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #6c6cda;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */